
.header{
margin-bottom: 2em;
margin-top: 3em;
}
#header-h3{
    font-size: 35px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: darkred;
}
.form-label{
    font-family:'Poppins', sans-serif ;
    font-weight: bold;
}
.btn{
    justify-content: center;
    width: 100%;
}
form{
    margin-bottom: 2em;
}
.alert{
    justify-content: center;
    margin-left: 25%;
}

.btn-edit{
    margin-top: 2px;
    margin-right: 3px;
    background-color: transparent;
    color: green;
    border: none;

}
.btn-delete{
    margin-top: 2px;
    background-color: transparent;
    color: red;
    border: none;
}