
.header{
margin-bottom: 2em;
margin-top: 3em;
}
#header-h3{
    font-size: 35px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: darkred;
}
.form-label{
    font-family:'Poppins', sans-serif ;
    font-weight: bold;
}
.btn{
    justify-content: center;
    width: 100%;
}
form{
    margin-bottom: 2em;
}
.alert{
    justify-content: center;
    margin-left: 25%;
}